
<div class="question">
  <p><%=@question%></p>
  <p>-You</p>
</div>

<div class="answer-coach">
  <p> <strong><%=@response%></strong></p>
  <p>-Your coach</p>
</div>

<div id="link">
  <%=link_to 'Ask another question', ask_path %>
</div>
