
<h1>Welcome to the Stupid coach!</h1>
<form action="/answer" method='get'>
  <input type="text" name="question" placeholder="Tape your question here">
  <input type="submit" value="Ask  " id="btn">
</form>

<h3><%=@test%></h3>
